<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<!-- It's not a web app, web.xml not required  -->
	<!--  @Inject, @Named, @Qualifier, @Scope and @Singleton. see notes  -->
	
<!--     <bean name="employee" class="com.lti.demo.demo1basics.Employee" >  -->

<!--    <bean name="employee" class="com.lti.demo.demo1basics.Employee" autowire="byName">   -->
   <!-- <bean name="employee" class="com.lti.demo.demo1basics.Employee" autowire="byType" >      -->
   
	<!-- <property name="empName" value="Manohar Parikar"/>
	    </bean>       
      
	<bean name="address" class="com.lti.demo.demo1basics.Address">
    	<property name="city" value="Mumbai"/>
    	<property name="state" value="Maharashtra"/>
    </bean>    
    
       <bean name="address1" class="com.lti.demo.demo1basics.Address">
    	<property name="city" value="Mapusa"/>
    	<property name="state" value="Goa"/> 
    </bean>  -->
   <context:annotation-config />
    
     <bean name="employee" class="com.lti.demo.demo1basics.Employee" scope="prototype"> </bean> 
   	<bean name="address" class="com.lti.demo.demo1basics.Address">
    	<property name="city" value="Mumbai"/>
    	<property name="state" value="Maharashtra"/>
    </bean>    
    
       <bean name="address1" class="com.lti.demo.demo1basics.Address">
    	<property name="city" value="Mapusa"/>
    	<property name="state" value="Goa"/> 
    </bean>
</beans>

